@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins-500.woff2") format("woff2");
  font-weight: 500;
  font-style: SemiBold; /* Define the font style (e.g., normal, jjktalic) */
  font-display: swap; /* Optional: Controls how the font is displayed while loading */
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins-700.woff2") format("woff2");
  font-weight: 700;
  font-style: Bold; /* Define the font style (e.g., normal, jjktalic) */
  font-display: swap; /* Optional: Controls how the font is displayed while loading */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins";
  overflow-x: hidden !important;
}

.contact a.btn {
  border: solid #e9e9e9 2px !important;
}

.header .navSideBar-bar a svg {
  width: 50%;
}

.header .navBar svg{
  width: 12rem;
  height: 100%;
  color: white;
}

footer > a svg {
  width: 15rem !important;
}
