---
import Logo from '../assets/svg/logo-horizontal.svg';
---

<header>

  <Logo class="logo"/>
  <nav>
    <a href="">Inicio</a>
    <a href="">Servicios</a>
    <a href="">Nuestras Obras</a>
    <a href="">Contacto</a>
  </nav>

</header>

<style module>
  header {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 13rem;
    color: #111;
  }

  a {
    font-family: "Poppins";
  }

</style>


