---
import Logo from '../assets/svg/isotipo.svg';
---

<header>

  <div class="div">
    
  </div>
  <Logo class="logo"/>

</header>

<style>
  header {
    display: flex;
    justify-content: center;
  }

  .logo {
    margin-top: 30rem;
    width: 3rem;
    color: #37423d;
  }

  * {
    font-family: "Poppins";
  }

</style>


