---
import IconMenu from '../assets/icons/Menu.astro';
import Btn from '../components/Btn.astro';
// import Logo from '../assets/logo/LogoHorizontal.astro';
import NavBtn from './NavBtn.astro';
import SideBtn from '../components/SideBtn.astro';

const {sidebar} = Astro.props;
---

<script>
  
    const buttonMenu = document.getElementById("menuButton");
    const buttonMenuBar = document.getElementById("menuButtonBar");

    const sidebar = document.getElementById("sidebar");
    const navbar = document.getElementById("navbar")
    const toggleClass = 'sidebar-hide';
    const umbralScroll = 60;

    console.log(buttonMenu)

    const actualizarClase = (activar) => {
      sidebar.classList.toggle(toggleClass, activar);
      // buttonMenu.classList.toggle(toggleClass, activar);
    };

    buttonMenu.addEventListener('click', () => {
      actualizarClase(!sidebar.classList.contains(toggleClass));
    });

    buttonMenuBar.addEventListener('click', () => {
      actualizarClase(!sidebar.classList.contains(toggleClass));
    });

    window.addEventListener('scroll', () => {
      if (window.scrollY > umbralScroll) {
        if (!sidebar.classList.contains(toggleClass)) sidebar.classList.add(toggleClass);
        if (!navbar.classList.contains("navbar-active")) navbar.classList.add("navbar-active");
      }

      if (window.scrollY == 0 || window.scrollY < 45) navbar.classList.remove("navbar-active");
    });

</script>

  <header class="header">

    <div class="navBar" id="navbar">
      <div class="navBar-logoWrapper">
        <svg width="100%" height="100%" viewBox="0 0 275 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g transform="matrix(1.30186,0,0,1.30186,-139.931,-455.284)">
            <g transform="matrix(0.266964,0,0,0.266964,70.2633,285.678)">
                <path d="M358.252,271.004L346.055,324.31L325.275,324.31L319.101,294.043L312.927,324.31L292.147,324.31L279.95,271.004L297.945,271.004L302.763,304.584L309.991,271.004L328.211,271.004L335.439,304.584L340.257,271.004L358.252,271.004Z" style="fill-rule:nonzero;"/>
                <path d="M380.989,284.331L380.989,290.881L397.553,290.881L397.553,303.454L380.989,303.454L380.989,310.983L399.812,310.983L399.812,324.31L364.275,324.31L364.275,271.004L399.812,271.004L399.812,284.331L380.989,284.331Z" style="fill-rule:nonzero;"/>
                <path d="M426.991,324.837C420.617,324.837 415.359,323.344 411.218,320.357C407.077,317.371 404.831,312.991 404.48,307.219L422.248,307.219C422.499,310.281 423.854,311.812 426.314,311.812C427.217,311.812 427.983,311.598 428.61,311.172C429.238,310.745 429.551,310.08 429.551,309.176C429.551,307.922 428.874,306.905 427.518,306.127C426.163,305.349 424.055,304.458 421.194,303.454C417.781,302.25 414.958,301.07 412.724,299.916C410.49,298.761 408.571,297.08 406.964,294.871C405.358,292.663 404.58,289.827 404.63,286.364C404.63,282.9 405.521,279.951 407.303,277.517C409.085,275.083 411.519,273.238 414.606,271.983C417.693,270.728 421.169,270.101 425.034,270.101C431.559,270.101 436.741,271.607 440.581,274.618C444.421,277.63 446.441,281.871 446.642,287.342L428.648,287.342C428.598,285.837 428.221,284.757 427.518,284.105C426.816,283.452 425.962,283.126 424.959,283.126C424.256,283.126 423.679,283.365 423.227,283.841C422.775,284.318 422.549,284.983 422.549,285.837C422.549,287.041 423.214,288.033 424.545,288.811C425.875,289.589 427.995,290.53 430.907,291.634C434.269,292.889 437.043,294.093 439.226,295.248C441.409,296.402 443.304,298.008 444.91,300.066C446.517,302.124 447.32,304.709 447.32,307.821C447.32,311.084 446.517,314.008 444.91,316.593C443.304,319.177 440.97,321.198 437.908,322.653C434.847,324.109 431.208,324.837 426.991,324.837Z" style="fill-rule:nonzero;"/>
                <path d="M495.054,271.004L495.054,284.255L480.899,284.255L480.899,324.31L464.185,324.31L464.185,284.255L450.181,284.255L450.181,271.004L495.054,271.004Z" style="fill-rule:nonzero;"/>
                <path d="M516.285,284.331L516.285,290.881L532.849,290.881L532.849,303.454L516.285,303.454L516.285,310.983L535.108,310.983L535.108,324.31L499.571,324.31L499.571,271.004L535.108,271.004L535.108,284.331L516.285,284.331Z" style="fill-rule:nonzero;"/>
                <path d="M568.235,324.31L558.222,305.186L558.146,305.186L558.146,324.31L541.432,324.31L541.432,271.004L566.278,271.004C570.594,271.004 574.284,271.77 577.345,273.301C580.407,274.832 582.704,276.915 584.234,279.55C585.765,282.185 586.531,285.159 586.531,288.472C586.531,292.035 585.539,295.198 583.557,297.958C581.574,300.719 578.726,302.702 575.011,303.906L586.606,324.31L568.235,324.31ZM558.146,294.043L564.772,294.043C566.378,294.043 567.583,293.679 568.386,292.951C569.189,292.224 569.591,291.082 569.591,289.526C569.591,288.12 569.176,287.016 568.348,286.213C567.52,285.41 566.328,285.008 564.772,285.008L558.146,285.008L558.146,294.043Z" style="fill-rule:nonzero;"/>
                <path d="M642.998,324.31L626.284,324.31L608.591,297.507L608.591,324.31L591.876,324.31L591.876,271.004L608.591,271.004L626.284,298.259L626.284,271.004L642.998,271.004L642.998,324.31Z" style="fill-rule:nonzero;"/>
                <path d="M699.014,296.979C702.226,297.732 704.723,299.276 706.505,301.61C708.287,303.944 709.178,306.642 709.178,309.703C709.178,314.371 707.635,317.973 704.548,320.508C701.461,323.042 697.031,324.31 691.259,324.31L663.326,324.31L663.326,271.004L690.506,271.004C695.927,271.004 700.193,272.184 703.305,274.543C706.417,276.902 707.973,280.34 707.973,284.858C707.973,287.97 707.158,290.592 705.526,292.726C703.895,294.859 701.724,296.277 699.014,296.979ZM680.041,291.784L686.516,291.784C688.022,291.784 689.138,291.483 689.866,290.881C690.594,290.279 690.958,289.35 690.958,288.095C690.958,286.79 690.594,285.824 689.866,285.197C689.138,284.569 688.022,284.255 686.516,284.255L680.041,284.255L680.041,291.784ZM687.645,310.908C689.151,310.908 690.268,310.62 690.996,310.042C691.723,309.465 692.087,308.524 692.087,307.219C692.087,304.659 690.607,303.379 687.645,303.379L680.041,303.379L680.041,310.908L687.645,310.908Z" style="fill-rule:nonzero;"/>
                <path d="M731.163,271.004L731.163,301.045C731.163,303.505 731.702,305.45 732.781,306.88C733.861,308.311 735.605,309.026 738.014,309.026C740.423,309.026 742.205,308.311 743.36,306.88C744.514,305.45 745.091,303.505 745.091,301.045L745.091,271.004L761.73,271.004L761.73,301.045C761.73,306.115 760.676,310.444 758.568,314.033C756.46,317.621 753.574,320.319 749.91,322.126C746.246,323.933 742.155,324.837 737.638,324.837C733.12,324.837 729.117,323.933 725.629,322.126C722.14,320.319 719.417,317.634 717.46,314.07C715.502,310.507 714.524,306.165 714.524,301.045L714.524,271.004L731.163,271.004Z" style="fill-rule:nonzero;"/>
                <rect x="768.958" y="271.004" width="16.714" height="53.305" style="fill-rule:nonzero;"/>
                <path d="M809.916,311.661L826.028,311.661L826.028,324.31L793.202,324.31L793.202,271.004L809.916,271.004L809.916,311.661Z" style="fill-rule:nonzero;"/>
                <path d="M853.509,271.004C859.08,271.004 863.962,272.134 868.153,274.393C872.344,276.651 875.569,279.788 877.827,283.804C880.086,287.819 881.215,292.387 881.215,297.507C881.215,302.576 880.086,307.144 877.827,311.209C875.569,315.275 872.344,318.475 868.153,320.809C863.962,323.143 859.08,324.31 853.509,324.31L831.298,324.31L831.298,271.004L853.509,271.004ZM852.003,309.402C855.767,309.402 858.754,308.373 860.962,306.315C863.171,304.258 864.275,301.321 864.275,297.507C864.275,293.692 863.171,290.756 860.962,288.698C858.754,286.64 855.767,285.611 852.003,285.611L848.013,285.611L848.013,309.402L852.003,309.402Z" style="fill-rule:nonzero;"/>
                <path d="M908.094,324.837C901.719,324.837 896.462,323.344 892.321,320.357C888.18,317.371 885.934,312.991 885.582,307.219L903.351,307.219C903.602,310.281 904.957,311.812 907.416,311.812C908.32,311.812 909.085,311.598 909.713,311.172C910.34,310.745 910.654,310.08 910.654,309.176C910.654,307.922 909.976,306.905 908.621,306.127C907.266,305.349 905.158,304.458 902.297,303.454C898.884,302.25 896.06,301.07 893.827,299.916C891.593,298.761 889.673,297.08 888.067,294.871C886.461,292.663 885.683,289.827 885.733,286.364C885.733,282.9 886.624,279.951 888.406,277.517C890.188,275.083 892.622,273.238 895.709,271.983C898.796,270.728 902.272,270.101 906.136,270.101C912.662,270.101 917.844,271.607 921.684,274.618C925.524,277.63 927.544,281.871 927.745,287.342L909.75,287.342C909.7,285.837 909.324,284.757 908.621,284.105C907.918,283.452 907.065,283.126 906.061,283.126C905.358,283.126 904.781,283.365 904.329,283.841C903.878,284.318 903.652,284.983 903.652,285.837C903.652,287.041 904.317,288.033 905.647,288.811C906.977,289.589 909.098,290.53 912.009,291.634C915.372,292.889 918.145,294.093 920.329,295.248C922.512,296.402 924.407,298.008 926.013,300.066C927.619,302.124 928.422,304.709 928.422,307.821C928.422,311.084 927.619,314.008 926.013,316.593C924.407,319.177 922.073,321.198 919.011,322.653C915.949,324.109 912.31,324.837 908.094,324.837Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(0.360811,0,0,0.360811,-14.0699,297.304)">
                <g transform="matrix(1,0,0,1,-2,-0.5)">
                    <path d="M402.968,216.826L404.954,216.826L417.151,163.521L399.156,163.521L394.338,197.1L387.11,163.521L372.762,163.521L362.849,146.028L410.849,146.028L434.684,188.612L411,231L402.968,216.826Z"/>
                </g>
                <g transform="matrix(-1.0906,0,0,-1.0906,799.617,387.93)">
                    <clipPath id="_clip1">
                        <path d="M352.526,206.224L363.71,157.347L382.764,157.347L388.425,185.099L394.085,157.347L413.139,157.347L424.323,206.224L407.823,206.224L403.405,175.434L396.778,206.224L380.071,206.224L373.444,175.434L369.026,206.224L352.526,206.224Z" clip-rule="nonzero"/>
                    </clipPath>
                    <g clip-path="url(#_clip1)">
                        <path d="M360,141L411,231L434.5,193L408,141L360,141Z"/>
                    </g>
                </g>
            </g>
        </g>
    </svg>

      </div>

      <nav class="navBar-items">
        <NavBtn content="INICIO" />
        <NavBtn content="SERVICIOS"/>
        <NavBtn content="PROYECTOS"/>
        <NavBtn content="SOBRE NOSOTROS"/> 
        <NavBtn content="CONTACTO"/>
      </nav>
      <button class="menuButton menuButtonBar" id="menuButtonBar"><svg xmlns="http://www.w3.org/2000/svg" fill="white" class="menuButton-svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg></button>
    </div>

    <div class="navSideBar">

      <div class="navSideBar-bar">
        <div class="spacing"></div>

        <div class="logo-wrapper">
          <svg width="100%" height="100%" viewBox="0 0 275 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
          <g transform="matrix(1.30186,0,0,1.30186,-139.931,-455.284)">
              <g transform="matrix(0.266964,0,0,0.266964,70.2633,285.678)">
                  <path d="M358.252,271.004L346.055,324.31L325.275,324.31L319.101,294.043L312.927,324.31L292.147,324.31L279.95,271.004L297.945,271.004L302.763,304.584L309.991,271.004L328.211,271.004L335.439,304.584L340.257,271.004L358.252,271.004Z" style="fill-rule:nonzero;"/>
                  <path d="M380.989,284.331L380.989,290.881L397.553,290.881L397.553,303.454L380.989,303.454L380.989,310.983L399.812,310.983L399.812,324.31L364.275,324.31L364.275,271.004L399.812,271.004L399.812,284.331L380.989,284.331Z" style="fill-rule:nonzero;"/>
                  <path d="M426.991,324.837C420.617,324.837 415.359,323.344 411.218,320.357C407.077,317.371 404.831,312.991 404.48,307.219L422.248,307.219C422.499,310.281 423.854,311.812 426.314,311.812C427.217,311.812 427.983,311.598 428.61,311.172C429.238,310.745 429.551,310.08 429.551,309.176C429.551,307.922 428.874,306.905 427.518,306.127C426.163,305.349 424.055,304.458 421.194,303.454C417.781,302.25 414.958,301.07 412.724,299.916C410.49,298.761 408.571,297.08 406.964,294.871C405.358,292.663 404.58,289.827 404.63,286.364C404.63,282.9 405.521,279.951 407.303,277.517C409.085,275.083 411.519,273.238 414.606,271.983C417.693,270.728 421.169,270.101 425.034,270.101C431.559,270.101 436.741,271.607 440.581,274.618C444.421,277.63 446.441,281.871 446.642,287.342L428.648,287.342C428.598,285.837 428.221,284.757 427.518,284.105C426.816,283.452 425.962,283.126 424.959,283.126C424.256,283.126 423.679,283.365 423.227,283.841C422.775,284.318 422.549,284.983 422.549,285.837C422.549,287.041 423.214,288.033 424.545,288.811C425.875,289.589 427.995,290.53 430.907,291.634C434.269,292.889 437.043,294.093 439.226,295.248C441.409,296.402 443.304,298.008 444.91,300.066C446.517,302.124 447.32,304.709 447.32,307.821C447.32,311.084 446.517,314.008 444.91,316.593C443.304,319.177 440.97,321.198 437.908,322.653C434.847,324.109 431.208,324.837 426.991,324.837Z" style="fill-rule:nonzero;"/>
                  <path d="M495.054,271.004L495.054,284.255L480.899,284.255L480.899,324.31L464.185,324.31L464.185,284.255L450.181,284.255L450.181,271.004L495.054,271.004Z" style="fill-rule:nonzero;"/>
                  <path d="M516.285,284.331L516.285,290.881L532.849,290.881L532.849,303.454L516.285,303.454L516.285,310.983L535.108,310.983L535.108,324.31L499.571,324.31L499.571,271.004L535.108,271.004L535.108,284.331L516.285,284.331Z" style="fill-rule:nonzero;"/>
                  <path d="M568.235,324.31L558.222,305.186L558.146,305.186L558.146,324.31L541.432,324.31L541.432,271.004L566.278,271.004C570.594,271.004 574.284,271.77 577.345,273.301C580.407,274.832 582.704,276.915 584.234,279.55C585.765,282.185 586.531,285.159 586.531,288.472C586.531,292.035 585.539,295.198 583.557,297.958C581.574,300.719 578.726,302.702 575.011,303.906L586.606,324.31L568.235,324.31ZM558.146,294.043L564.772,294.043C566.378,294.043 567.583,293.679 568.386,292.951C569.189,292.224 569.591,291.082 569.591,289.526C569.591,288.12 569.176,287.016 568.348,286.213C567.52,285.41 566.328,285.008 564.772,285.008L558.146,285.008L558.146,294.043Z" style="fill-rule:nonzero;"/>
                  <path d="M642.998,324.31L626.284,324.31L608.591,297.507L608.591,324.31L591.876,324.31L591.876,271.004L608.591,271.004L626.284,298.259L626.284,271.004L642.998,271.004L642.998,324.31Z" style="fill-rule:nonzero;"/>
                  <path d="M699.014,296.979C702.226,297.732 704.723,299.276 706.505,301.61C708.287,303.944 709.178,306.642 709.178,309.703C709.178,314.371 707.635,317.973 704.548,320.508C701.461,323.042 697.031,324.31 691.259,324.31L663.326,324.31L663.326,271.004L690.506,271.004C695.927,271.004 700.193,272.184 703.305,274.543C706.417,276.902 707.973,280.34 707.973,284.858C707.973,287.97 707.158,290.592 705.526,292.726C703.895,294.859 701.724,296.277 699.014,296.979ZM680.041,291.784L686.516,291.784C688.022,291.784 689.138,291.483 689.866,290.881C690.594,290.279 690.958,289.35 690.958,288.095C690.958,286.79 690.594,285.824 689.866,285.197C689.138,284.569 688.022,284.255 686.516,284.255L680.041,284.255L680.041,291.784ZM687.645,310.908C689.151,310.908 690.268,310.62 690.996,310.042C691.723,309.465 692.087,308.524 692.087,307.219C692.087,304.659 690.607,303.379 687.645,303.379L680.041,303.379L680.041,310.908L687.645,310.908Z" style="fill-rule:nonzero;"/>
                  <path d="M731.163,271.004L731.163,301.045C731.163,303.505 731.702,305.45 732.781,306.88C733.861,308.311 735.605,309.026 738.014,309.026C740.423,309.026 742.205,308.311 743.36,306.88C744.514,305.45 745.091,303.505 745.091,301.045L745.091,271.004L761.73,271.004L761.73,301.045C761.73,306.115 760.676,310.444 758.568,314.033C756.46,317.621 753.574,320.319 749.91,322.126C746.246,323.933 742.155,324.837 737.638,324.837C733.12,324.837 729.117,323.933 725.629,322.126C722.14,320.319 719.417,317.634 717.46,314.07C715.502,310.507 714.524,306.165 714.524,301.045L714.524,271.004L731.163,271.004Z" style="fill-rule:nonzero;"/>
                  <rect x="768.958" y="271.004" width="16.714" height="53.305" style="fill-rule:nonzero;"/>
                  <path d="M809.916,311.661L826.028,311.661L826.028,324.31L793.202,324.31L793.202,271.004L809.916,271.004L809.916,311.661Z" style="fill-rule:nonzero;"/>
                  <path d="M853.509,271.004C859.08,271.004 863.962,272.134 868.153,274.393C872.344,276.651 875.569,279.788 877.827,283.804C880.086,287.819 881.215,292.387 881.215,297.507C881.215,302.576 880.086,307.144 877.827,311.209C875.569,315.275 872.344,318.475 868.153,320.809C863.962,323.143 859.08,324.31 853.509,324.31L831.298,324.31L831.298,271.004L853.509,271.004ZM852.003,309.402C855.767,309.402 858.754,308.373 860.962,306.315C863.171,304.258 864.275,301.321 864.275,297.507C864.275,293.692 863.171,290.756 860.962,288.698C858.754,286.64 855.767,285.611 852.003,285.611L848.013,285.611L848.013,309.402L852.003,309.402Z" style="fill-rule:nonzero;"/>
                  <path d="M908.094,324.837C901.719,324.837 896.462,323.344 892.321,320.357C888.18,317.371 885.934,312.991 885.582,307.219L903.351,307.219C903.602,310.281 904.957,311.812 907.416,311.812C908.32,311.812 909.085,311.598 909.713,311.172C910.34,310.745 910.654,310.08 910.654,309.176C910.654,307.922 909.976,306.905 908.621,306.127C907.266,305.349 905.158,304.458 902.297,303.454C898.884,302.25 896.06,301.07 893.827,299.916C891.593,298.761 889.673,297.08 888.067,294.871C886.461,292.663 885.683,289.827 885.733,286.364C885.733,282.9 886.624,279.951 888.406,277.517C890.188,275.083 892.622,273.238 895.709,271.983C898.796,270.728 902.272,270.101 906.136,270.101C912.662,270.101 917.844,271.607 921.684,274.618C925.524,277.63 927.544,281.871 927.745,287.342L909.75,287.342C909.7,285.837 909.324,284.757 908.621,284.105C907.918,283.452 907.065,283.126 906.061,283.126C905.358,283.126 904.781,283.365 904.329,283.841C903.878,284.318 903.652,284.983 903.652,285.837C903.652,287.041 904.317,288.033 905.647,288.811C906.977,289.589 909.098,290.53 912.009,291.634C915.372,292.889 918.145,294.093 920.329,295.248C922.512,296.402 924.407,298.008 926.013,300.066C927.619,302.124 928.422,304.709 928.422,307.821C928.422,311.084 927.619,314.008 926.013,316.593C924.407,319.177 922.073,321.198 919.011,322.653C915.949,324.109 912.31,324.837 908.094,324.837Z" style="fill-rule:nonzero;"/>
              </g>
              <g transform="matrix(0.360811,0,0,0.360811,-14.0699,297.304)">
                  <g transform="matrix(1,0,0,1,-2,-0.5)">
                      <path d="M402.968,216.826L404.954,216.826L417.151,163.521L399.156,163.521L394.338,197.1L387.11,163.521L372.762,163.521L362.849,146.028L410.849,146.028L434.684,188.612L411,231L402.968,216.826Z"/>
                  </g>
                  <g transform="matrix(-1.0906,0,0,-1.0906,799.617,387.93)">
                      <clipPath id="_clip1">
                          <path d="M352.526,206.224L363.71,157.347L382.764,157.347L388.425,185.099L394.085,157.347L413.139,157.347L424.323,206.224L407.823,206.224L403.405,175.434L396.778,206.224L380.071,206.224L373.444,175.434L369.026,206.224L352.526,206.224Z" clip-rule="nonzero"/>
                      </clipPath>
                      <g clip-path="url(#_clip1)">
                          <path d="M360,141L411,231L434.5,193L408,141L360,141Z"/>
                      </g>
                  </g>
              </g>
          </g>
      </svg>

        </div>

        <button class="menuButton" id="menuButton"><svg xmlns="http://www.w3.org/2000/svg" class="menuButton-svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg></button>
      </div>

      <nav class="sidebar sidebar-hide" id="sidebar">
        <SideBtn class="sidebar-link" content="INICIO"/>
        <SideBtn class="sidebar-link" content="SERVICIOS"/>
        <SideBtn class="sidebar-link" content="PROYECTOS"/>
        <SideBtn class="sidebar-link" content="SOBRE NOSOTROS"/> 
        <SideBtn class="sidebar-link" content="CONTACTO"/>
      </nav>

    </div>
  </header>

<style>
  :root {
    --sidebar-width: 23rem;
    --color-main: #040404;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1000;
    margin-top: .7rem;
  }

  .navBar {
    width: 95vw;
    height: 3.8rem;
    background: var(--color-main);
    position: fixed;
    z-index: 2000;
    transition: transform ease .3s;
    transform: translateY(-8rem); /* mover header negro*/
    margin-top: 1rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }.navbar-active {
    transform: translateY(-0.5rem); /* mover header negro*/
  }

  .navBar-logoWrapper {
    width: 12rem;
    display: flex;
    align-items: center;
  }
  .navBar-logoWrapper svg{
    fill: white;
  }

  .navBar-items {    
    height: 1rem;
  }

  .menuButtonBar {
    z-index: 60000;
    margin-top: .19rem;
    position: relative;
  }

  .sidebar-hide .menuButton-svg {
    fill: #464449;
  }

  .navSideBar {
    width: 100%;
    padding: 0 1rem;
  }
  .spacing {
    width: 3rem;
  }

  .navSideBar-bar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menuButton {
    width: 2rem;
    position: relative;
    z-index: 5000;
    background: none;
    border: none;
  }.menuButton:hover {
    cursor: pointer;
  }

  /* .sidebar .sidebar-hide .menuButton svg {
    fill: #464449 !important;
  } */

  .sidebar .menuButton-svg {
    fill: white !important;
  }
  

  .logo-wrapper {
    width: 14rem;
  }
  .logo-wrapper svg {
    fill: #000000;
  }

    .menuButtonBar {
      display: none;
    }
  .menuIcon {
    width: 2rem;
  }


  .sidebar {
    background: var(--color-main);
    right: 0;
    top: 0;
    width: var(--sidebar-width);
    height: 100%;
    transition: transform ease .34s;
    transform: translateX(0);
    position: fixed;
    z-index: 2000;
    padding-top: 5rem;
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
  }.sidebar-hide {
    transform: translateX(40rem);
  }

  @media only screen and (max-width: 770px) {
    .navBar-items {
      display: none;
    }
    .menuButtonBar {
      display: block;
      position: static;
      user-select: none;
    }

    /* .logo-wrapper svg {
      fill: #464449;
    } */

    .sidebar {
      width: 100%;
    }.sidebar-hide {
      transform: translateX(100%);
    }
}
</style>


