---
import IconMenu from '../assets/svg/icons/iconMenu.svg';
import Btn from '../components/Btn.astro';
import NavBtn from '../components/NavBtn.astro'
import SideBtn from '../components/SideBtn.astro'
import Logo from '../components/Logo.astro';

const {sidebar} = Astro.props;
---

<script>
  
    const buttonMenu = document.getElementById("menuButton");
    const buttonMenuBar = document.getElementById("menuButtonBar");

    const sidebar = document.getElementById("sidebar");
    const navbar = document.getElementById("navbar")
    const toggleClass = 'sidebar-hide';
    const umbralScroll = 60;

    console.log(buttonMenu)

    const actualizarClase = (activar) => {
      sidebar.classList.toggle(toggleClass, activar);
    };

    buttonMenu.addEventListener('click', () => {
      actualizarClase(!sidebar.classList.contains(toggleClass));
    });

    buttonMenuBar.addEventListener('click', () => {
      actualizarClase(!sidebar.classList.contains(toggleClass));
    });

    window.addEventListener('scroll', () => {
      if (window.scrollY > umbralScroll) {
        if (!sidebar.classList.contains(toggleClass)) sidebar.classList.add(toggleClass);
        if (!navbar.classList.contains("navbar-active")) navbar.classList.add("navbar-active");
      }

      if (window.scrollY == 0 || window.scrollY < 45) navbar.classList.remove("navbar-active");
    });

</script>

  <header class="header">

    <div class="navBar" id="navbar">
      <Logo isotipo={false}/>

      <nav class="navBar-items">
        <NavBtn content="INICIO"/>
        <NavBtn content="SERVICIOS"/>
        <NavBtn content="PROYECTOS"/>
        <NavBtn content="SOBRE NOSOTROS"/> 
        <NavBtn content="CONTACTO"/>
      </nav>
      <button class="menuButton menuButtonBar" id="menuButtonBar"><IconMenu style="width: 1.5rem;" class='menuIcon'/></button>
    </div>

    <div class="navSideBar">

      <div class="navSideBar-bar">
        <div class="spacing"></div>

        <div class="logo-wrapper">
        <Logo isotipo={true}/>
        </div>

        <button class="menuButton" id="menuButton"><IconMenu class='menuIcon'/></button>
      </div>

      <nav class="sidebar sidebar-hide" id="sidebar">
        <SideBtn class="sidebar-link" content="INICIO"/>
        <SideBtn class="sidebar-link" content="SERVICIOS"/>
        <SideBtn class="sidebar-link" content="PROYECTOS"/>
        <SideBtn class="sidebar-link" content="SOBRE NOSOTROS"/> 
        <SideBtn class="sidebar-link" content="CONTACTO"/>
      </nav>

    </div>
  </header>

<style>
  :root {
    --sidebar-width: 23rem;
    
    /* --color-main: #001156; */
    /* --color-main: #40474d; */
    /* --color-main: #032222; */
    /* --color-main: #0c2d55; */
    --color-main: #051830;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navBar {
    width: 95%;
    height: 3.8rem;
    background: var(--color-main);
    position: fixed;
    z-index: 2000;
    transition: transform ease .3s;
    transform: translateY(-10rem); /* mover header negro*/
    margin-top: 1rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }.navbar-active {
    transform: translateY(0); /* mover header negro*/
  }
  .navBar-items {    height: 1rem;
  }

  .navSideBar {
    width: 100%;
  }
  .spacing {
    width: 3rem;
  }

  .navSideBar-bar {
    width: 100%;
    padding: 0 1.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menuButton {
    width: 2rem;
    position: relative;
    z-index: 5000;
    background: none;
    color: #fff;
    border: none;
  }.menuButton:hover {
    cursor: pointer;
  }

    .menuButtonBar {
      display: none;
    }
  .menuIcon {
    width: 2rem;
  }

  .sidebar {
    background: var(--color-main);
    right: 0;
    top: 0;
    width: var(--sidebar-width);
    height: 100%;
    transition: transform ease .34s;
    transform: translateX(0);
    position: fixed;
    z-index: 2000;
    padding-top: 5rem;
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
  }.sidebar-hide {
    transform: translateX(var(--sidebar-width));
  }

  @media only screen and (max-width: 770px) {
    .navBar-items {
      display: none;
    }
    .menuButtonBar {
      display: block;
      position: static;
      user-select: none;
    }

    .sidebar {
      width: 100%;
    }.sidebar-hide {
      transform: translateX(100%);
    }
}
</style>


