---
import Btn from "./Btn.astro"
import "../styles/hero.css"
---

<section class="hero">
    <h1>Construcción y Diseño Integral en Chile: Casas, Oficinas y Energía Solar</h1>
    <h3>En <b>WESTERN BUILDS</b> , transformamos tus ideas en realidad. Somos una empresa de construcción y diseño integral en Chile, abarcando desde la creación de casas unifamiliares y funcionales oficinas, hasta la implementación de soluciones sostenibles con la instalación de paneles solares. </h3>
    <Btn to="mailto:gabrielvelasque102@gmail.com" id="btn" classs="hero-btn" content="COTIZAR"/>
</section>

<style>
</style>