---
const {content} = Astro.props
---


<button class="btn" id="btn">
  <span class="btn-text-one">{content}</span>
  <span class="btn-text-two">{content}</span>
</button>

<style>
.btn {
  width: 13rem;
  height: 3rem;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
}.btn:hover {
  cursor: pointer;
}

.btn span {
  font-size: 1.3rem;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
  transition: top 0.3s;
  text-align: start;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}
</style>
