---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Western Builds - Diseño y Construcción de Espacios Impresionantes</title>
		
		<link rel="icon" type="image/svg+xml" href="../../public/favicons/favicon-theme-light.svg" media="(prefers-color-scheme: light)" sizes="any">
		<link rel="icon" type="image/svg+xml" href="../../public/favicons/favicon-theme-dark.svg" media="(prefers-color-scheme: dark)" sizes="any">

		<link rel="canonical" href="http://westernbuilds.cl/" />

		<meta name="description" content="Western Builds: Expertos en construcción en Santiago. Nuestro equipo de ingenieros, con más de 30 años de experiencia, ha construido más de 500,000 m².">

		<meta name="keywords" content="Western Builds, construcción Santiago, construcción Chile, diseño casas Santiago, diseño 3D, remodelación Santiago, remodelación casas, instalación paneles solares Santiago, energía solar Chile, construcción canchas deportivas, planos construcción, control de costos construcción, planificación proyectos construcción, modificaciones estructurales, construcción oficinas, construcción locales, movimiento de tierra, bodegas, iluminación interior, iluminación exterior, western construcción, western paneles solares">

	</head>

	<body>
		<slot />
	</body>
</html>

<style>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}	

	body, html {
 		font-family: 'Poppins', sans-serif;
		width: 100%;
		max-width: 100vw;
		height: 100vh;
		box-sizing: border-box;
	}
</style>
